.cubek-bezer-cultos {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: animation-cubek-bezer-cultos;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;
  }
  @keyframes animation-cubek-bezer-cultos {
    0% {
      background-color: red;
      transform: translate(0);
    }
    25% {
      background-color: blue;
      transform: translate(0, 300px);
    }
    50% {
      background-color: green;
      transform: translate(300px, 300px);
    }
    75% {
      background-color: yellow;
      transform: translate(300px, 0px);
    }
    100% {
      background-color: red;
      transform: translate(0);
    }
  }